root = "."
tmp_dir = "bin"

[build]
  bin = "./bin/main"
  cmd = "go build -o ./bin/main ./cmd/api"
  delay = 1000
  exclude_dir = ["bin", "vendor"]
  exclude_regex = ["_test.go"]
  include_ext = ["go", "tpl", "tmpl", "html"]
  kill_delay = "0s"
  log = "build-errors.log"
  send_interrupt = false
  stop_on_error = false

[log]
  main_only = false
  silent = false
  time = false

[misc]
  clean_on_exit = false

[screen]
  clear_on_rebuild = false
  keep_scroll = true
